<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for accessing storage and media files -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    
    <!-- Permissions for background playback and PiP -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Network access for streaming playback -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Picture-in-Picture support -->
    <uses-permission android:name="android.permission.PICTURE_IN_PICTURE" />

    <application
        android:name=".MPVideoProApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MPVideoPro"
        android:requestLegacyExternalStorage="false"
        tools:targetApi="31">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MPVideoPro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Player activity -->
        <activity
            android:name=".player.PlayerActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.MPVideoPro.Player"
            android:configChanges="orientation|screenSize|keyboardHidden">
            
            <!-- Support for video file intents -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            
            <!-- Support for specific video formats -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.webm" />
            </intent-filter>
        </activity>

        <!-- Background playback service -->
        <service
            android:name=".player.VideoPlaybackService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <!-- Picture-in-Picture support -->
        <activity
            android:name=".player.PipActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />

    </application>

</manifest>
